---
layout: main.liquid
title: Anime Blogg - Ändra Karaktär
jsFiles: "character-selection.js"
---

{% assign filters = 
  "Alla|all,Män|male,Kvinnor|female,Annat|other,Custom|custom" | split: ","
%}


<main id="character-selection">
    <div class="page-layout">
        <h1>Välj Karaktär</h1>
        
        <div class="upload">
            <button onclick="location.pathname='add-new-character'">Lägg till ny karaktär</button>
        </div>
        
        <div class="filters">
            {% for filter in filters %}
                {% assign parts = filter | split: "|" %}
                {% assign label = parts[0] %}
                {% assign value = parts[1] %}
                <button class="filter {{ value }}" data-type="{{ value }}">
                    {{  label }}
                </button>
            {% endfor %}
        </div>
        
        <div class="items">
            {% for character in collections.characters %}
                <div class="item {{ character.gender }}" data-character='{{ character | json }}'>
                    <img class="image" src="{{ character.img }}" alt="{{ character.label }}">
                    <div class="label">
                        {{ character.label }} ({{ character.from }})
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>