{% assign pages = 
  "/|Hem,/about/|Om,/contact/|Kontakta" | split: "," 
%}

<div class="sidebar">
    <article class="profile">
        <div class="left">
            <img src="/assets/Images/gojo-emoji.png" alt="" srcset="">
        </div>
        <div class="right">
            <span>Leo</span>
            <span>Web Developer</span>
        </div>
    </article>

    <nav class="sidebar-items">
        <div class="sidebar-item">
            <div class="title">Sidor</div>
            <div class="items">
                {% for item in pages %}
                    {% assign values = item | split: "|" %}
                    {% assign url = values[0] %}
                    {% assign title = values[1] %}

                    {% if page.url == url %}
                        <a class="item active" href="{{ url }}" data-page="{{ url }}">{{ title }}</a>
                    {% else %}
                        <a class="item" href="{{ url }}" data-page="{{ url }}">{{ title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <div class="sidebar-item">
            <div class="title">Utvalda Inlägg</div>
            <div class="items">
                {% include "_includes/components/featured-posts.liquid" %}
            </div>
        </div>
        <div class="sidebar-item">
            <div class="title">Inställningar</div>
            <div class="items">
                <a class="item" href="/character-selection.html" data-page="/character-selection.html">Byt Karaktär</a>
            </div>
        </div>
    </nav>
</div>